.descricao {
    background: var(--cor-branco-transparente-1);
    padding: 1em;
}

.descricao__texto {
    text-align: center;
    line-height: 1.5;
    padding: 0.5em;
}

.descricao__texto  strong {
    font-weight: 700;
    color: var(--cor-verde);
}

.descricao__texto  em {
    font-style: italic;
}

/*TABLETS*/
@media screen and (min-width: 800px) {
    .descricao {
        padding: 0 2em;
    }

    .descricao__texto {
        font-size: 18px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {
    .descricao {
        display: none;
    }
}