.produto {
    margin: 2rem 0;
    padding: 2rem 0;
    border-top: 1px solid var(--cor-branco-transparente-2);
    border-bottom: 1px solid var(--cor-branco-transparente-2);
    text-align: center;
}

.produto__titulo {
    color: var(--cor-branco);
    font-size: 18px;
    font-weight: 700;
}

.produto__icones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icones__link {
    padding: 2rem 0;
    text-decoration: none;
}

.icones__link-icone {
    width: 60px;
}

.icones__link-icone:hover {
    -moz-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.icones__link-texto {
    color: var(--cor-branco);
    font-size: 14px;
    padding: 1em 0;
}

.icones__link-imagem {
    width: 30vw;
    box-shadow: 2px 2px 3px var(--cor-sombra);
}

.icones__link-imagem:hover {
    -moz-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.produto__botao {
    text-decoration: none;
    background-color: var(--cor-botao);
    border: 1px solid var(--cor-branco-transparente-2);
    box-shadow: 2px 2px 3px var(--cor-sombra);
    color: var(--cor-branco);
    padding: 0.3em 2em;
}

.produto__botao:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor-branco);
}

/*TABLETS*/
@media screen and (min-width: 720px) {
    .produto__titulo {
        font-size: 30px;
    }

    .icones__link-icone {
        width: 70px;
    }

    .icones__link-texto {
        font-size: 16px;

    }

    .produto__botao {
        font-size: 18px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1024px) {

    .produto__titulo {
        font-size: 40px;
        padding-bottom: 1rem;
    }

    .icones__link-icone {
        width: 80px;
        padding: 0 3em;
    }

    .icones__link-texto {
        font-size: 18px;
    }

    .icones__link-imagem {
        width: 25vw;
    }

    .produto__botao {
        font-size: 20px;
    }
}