.produto {
    margin: 2em 0;
    padding: 2em 0;
    border-top: 1px solid var(--cor-branco-transparente-2);
    border-bottom: 1px solid var(--cor-branco-transparente-2);
    text-align: center;
}

.produto__titulo {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 1px;
}

.produto__icones {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.icones__link {
    padding: 2em 0;
    text-decoration: none;
}

.icones__link-icone {
    width: 13vw;
}

.icones__link-icone:hover {
    -moz-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.icones__link-imagem {
    width: 30vw;
    box-shadow: 2px 2px 3px var(--cor-sombra);
}

.icones__link-imagem:hover {
    -moz-transform: scale(1.1);
  	-webkit-transform: scale(1.1);
  	transform: scale(1.1);
}

.icones__link-texto {
    color: var(--cor-preto);
    font-size: 14px;
    letter-spacing: 1px;
    padding: 1em 0;
}

.produto__botao {
    text-decoration: none;
    background-color: var(--cor-botao);
    border: 1px solid var(--cor-branco-transparente-2);
    box-shadow: 2px 2px 3px var(--cor-sombra);
    color: var(--cor-branco);
    padding: 0.3em 2em;
}

.produto__botao:hover {
    background-color: var(--cor-botao-hover);
    color: var(--cor-branco);
}

.produto__texto-desktop {
    display: none;
}

/*TABLETS*/
@media screen and (min-width: 800px) {
    .produto__titulo {
        font-size: 20px;
    }

    .icones__link-icone {
        width: 8vw;
    }

    .icones__link-texto {
        font-size: 16px;
    }

    .produto__botao {
        font-size: 18px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px) {

    .produto {
        border-top: none;
    }

    .desktop {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 3em;
    }

    .produto__titulo-desktop {
        display: none;
    }

    .produto__titulo-desktop-02 {
        font-size: 24px;
    }

    .produto__texto-desktop {
        display: block;
        background: var(--cor-branco-transparente-1);
        padding: 1em;
        width: 50%;
    }

    .texto-desktop {
        text-align: justify;
        font-size: 20px;
        line-height: 1.5;
        padding: 0.5em;
    }

    .texto-desktop strong {
        font-weight: 700;
        color: var(--cor-verde);
    }

    .texto-desktop em {
        font-style: italic;
    }

    .produto__icones-desktop {
        display: flex;
        flex-direction: column;
    }

    .icones__link-icone {
        width: 5vw;
        padding: 0 3em;
    }

    .icones__link-imagem {
        width: 25vw;
    }

    .icones__link-texto {
        font-size: 18px;
    }

    .produto__botao {
        font-size: 20px;
        padding: 0.6em 6em;
        align-self: center;
    }
}