.rodape {
    background: var(--cor-verde);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em 2em;
}

.rodape__logo {
    width: 80px;
}

.rodape__texto {
    color: var(--cor-branco);
    font-size: 14px;
    font-style: italic;
    letter-spacing: 1px;
}

/*TABLETS*/
@media screen and (min-width: 800px) {
    .rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        gap: 1em;
        padding: 2em 0;
    }

    .rodape__texto {
        font-size: 16px;
    }

    .rodape__logo {
        width: 100px;
    }
}

/*DESKTOP*/
@media screen and (min-width: 1200px) {

    .rodape__logo {
        width: 140px;
    }
}